<body>

  {{!-- <form class="anime-search-form">
    <div class="form-group">
      <input
        class="anime-name hs-search-field__input form-control mr-sm-2"
        type="text"
        placeholder="Search Anime"
        aria-label="Search"
      />
      <button type="submit">Search</button>
    </div> --}}
    
    <div class="anime-div">
    </div>
  </form>

{{!-- delete and retype and use dropdown to specify file / then delete the ('/public') IF SPECIFIED in server.js --}}
  <script src="/js/anime-search.js"></script>
</body>