<head>
  <link rel="stylesheet" type="text/css" href="/css/anime-page.css" />
</head>

<body>
  <div class="content">
    {{!-- <div class="header-container">
        <div class="image-container">
          <img src="" alt="" class="anime-poster" />
        </div>
        <div class="synopsis-container">
          <p></p>
        </div>
        <div class="button-container">
          <button>Add to List</button>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="info-container">
        <ul>
          <li>Format</li>
          <span></span>
          <li>Episodes</li>
          <span></span>
          <li>Episode Duration</li>
          <span></span>
          <li>Status</li>
          <span></span>
          <li>Start Date</li>
          <span></span>
          <li>End Date</li>
          <span></span>
          <li>Season</li>
          <span></span>
          <li>Average Score</li>
          <span></span>
          <li>Popularity</li>
          <span></span>
          <li>Genres</li>
          <span></span>
        </ul>
      </div>
      <div class="related-container">
        {{! Add any related media sources like source manga }}
      </div>
      <div class="cast-container">
        {{! Add info about main characters and their voice actors }}
      </div>
      <div class="video-container">
        {{! inster trailer video }}
      </div>
    </div> --}}
  </div>
  <script src="/js/anime-page.js"></script>
</body>