<body>

  {{!-- <form class="anime-search-form">
    <div class="form-group">
      <input
        class="anime-name hs-search-field__input form-control mr-sm-2"
        type="text"
        placeholder="Search Anime"
        aria-label="Search"
      />
      <button type="submit">Search</button>
    </div> --}}
    
    {{#each animes as |anime|}}
    <div class="anime-div">
      <h2>{{anime.title}}</h2>
      <img src='{{anime.image>}}'>
      <p>{{anime.description}}</p>
      <button>Save</button>
    </div>
    {{/each}}
  </form>

{{!-- delete and retype and use dropdown to specify file / then delete the ('/public') IF SPECIFIED in server.js --}}
  <script src="/js/anime-search.js"></script>
</body>