<body>

  <form class="anime-search-form">
    <div class="form-group">
      <input class="anime-name hs-search-field__input form-control mr-sm-2" type="text" placeholder="Search Anime"
        aria-label="Search" />
      <button type="submit">Search</button>
    </div>
  </form>

  <div class="anime-div">
  </div>

  {{!-- delete and retype and use dropdown to specify file / then delete the ('/public') IF SPECIFIED in server.js --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="/js/logout.js"></script>
  
  <script src="/js/anime-search.js"></script>
</body>