
  
  
  <body>
    <!-- CAROUSEL -->
 
    <div class="site-dishes">
      <div class="">
         <div class="card"><h4 class="card-title">My Profile</h4>
    <div class="popular-anime-carousel anime-carousel" >
    </div>
    </div>

    <div class="card"><h4 class="card-title">Top Rated</h4>
    <div class="top-anime-carousel anime-carousel" >
    </div>
    </div>

     <div class="card"><h4 class="card-title">Romance</h4>
    <div class="romance-anime-carousel anime-carousel" >
    </div>
     </div>

    <div class="card"><h4 class="card-title">Comedy</h4>
    <div class="comedy-anime-carousel anime-carousel" >
    </div>
    </div>

    <div class="card"><h4 class="card-title"></h4>Horror</h4>
    <div class="horror-anime-carousel anime-carousel" >
    </div>
    </div>

    <div class="card"><h4 class="card-title"></h4>Action</h4>
    <div class="action-anime-carousel anime-carousel" >
    </div>
    </div>

    <div class="card"><h4 class="card-title"></h4>Fantasy</h4>
    <div class="fantasy-anime-carousel anime-carousel" >
    </div>
    </div>

    <div class="card"><h4 class="card-title"></h4>Sci-fi</h4>
    <div class="scifi-anime-carousel anime-carousel" >
    </div>
    </div>

  
     <div class="card"><h4 class="card-title"></h4>Sci-fi</h4>Movie</h4>
    <div class="movie-anime-carousel anime-carousel">
    </div>
    </div>
    </div>


 <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>

</body>
