<<<<<<< HEAD
    <!-- CAROUSEL -->
    <h4>Most Popular</h4>
    <div class="popular-anime-carousel anime-carousel" >
    </div>

    <h4>Top Rated</h4>
    <div class="top-anime-carousel anime-carousel" >
    </div>

    <h4>Romance</h4>
    <div class="romance-anime-carousel anime-carousel" >
    </div>

    <h4>Movie</h4>
    <div class="movie-anime-carousel anime-carousel" >
    </div>

    <h4>Test</h4>

    <button id="profile">Take to Profile</button>

    <script src="./button.js"></script>
=======
<body>
  <!-- CAROUSEL -->
  <div class="card">
    <h4 class="card-title">.. Most Popular ..</h4>
    <div class="popular-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">.. Top Rated ..</h4>
    <div class="top-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">.. Romance ..</h4>
    <div class="romance-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">.. Sports ..</h4>
    <div class="sports-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">.. Shoujo ..</h4>
    <div class="shoujo-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">.. Movie ..</h4>
    <div class="movie-anime-carousel anime-carousel">
    </div>
  </div>

</body>
>>>>>>> Develop
