<head>
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/anime.css" />
</head>

<body>
  <div class="hero">
    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla eum rem
      facilis. Sed exercitationem maxime nemo, sunt ea id laboriosam non
      repellendus. Officiis sint iure expedita quaerat assumenda quas eos?</h3>
  </div>

  <!-- CAROUSEL -->
  <div class="card">
    <h4 class="card-title">Most Popular</h4>
    <div class="popular-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">Top Rated</h4>
    <div class="top-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">Trending Now</h4>
    <div class="romance-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">Upcoming</h4>
    <div class="sports-anime-carousel anime-carousel">
    </div>
  </div>
  {{! 
  <div class="card">
    <h4 class="card-title">Shoujo</h4>
    <div class="shoujo-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">Movie</h4>
    <div class="movie-anime-carousel anime-carousel">
    </div>
  </div> }}

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/js/home.js"></script>
</body>