
  
  
  <body>
    <!-- CAROUSEL -->

    <div class="site-dishes">
      <div class=""
         <h4>My Profile</h4>
    <div class="popular-anime-carousel anime-carousel" >
    </div>

    <h4>Top Rated</h4>
    <div class="top-anime-carousel anime-carousel" >
    </div>

    <h4>Romance</h4>
    <div class="romance-anime-carousel anime-carousel" >
    </div>

    <h4>Movie</h4>
    <div class="movie-anime-carousel anime-carousel" >
    </div>
    </div>
</body>
