<body>
<!-- CAROUSEL -->
  <div class="card">
    <h4 class="card-title">.. Most Popular ..</h4>
    <div class="popular-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">.. Top Rated ..</h4>
    <div class="top-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">.. Romance ..</h4>
    <div class="romance-anime-carousel anime-carousel">
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">.. Movie ..</h4>
    <div class="movie-anime-carousel anime-carousel">
    </div>
  </div>

</body>