<head>
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>

<body>
  <div class="hero">

  </div>
  <!-- buttons -->
  <div class="buttons">
    <button class="prev">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button class="next">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>

  <div class="main">

    <div class="top-10">
    </div>
  </div>

  <script src="/js/home.js"></script>
</body>