<head>
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <link rel="stylesheet" type="text/css" href="/css/carousel.css" />
</head>

<body>
  <div class="hero">

  </div>
  <!-- buttons -->
  <div class="buttons">
    <button class="prev">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button class="next">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>

  <div class="main">

    <div class="carousel">
      <h3>Most Popular</h3>
      <div class="slide-container most-popular">
        <i class="fa-solid fa-arrow-left arrow slide-left"></i>
        <section class="container" id="slider">
        </section>
        <i class="fa-solid fa-arrow-right arrow slide-right"></i>
      </div>

      <h3>Upcoming Season</h3>
      <div class="slide-container upcoming">
        <i class="fa-solid fa-arrow-left arrow slide-left"></i>
        <section class="container" id="slider">
        </section>
        <i class="fa-solid fa-arrow-right arrow slide-right"></i>
      </div>

      <h3>Popular Airing</h3>
      <div class="slide-container popular-airing">
        <i class="fa-solid fa-arrow-left arrow slide-left"></i>
        <section class="container" id="slider">
        </section>
        <i class="fa-solid fa-arrow-right arrow slide-right"></i>
      </div>
    </div>

    <div>
      <h3>Highest Rated</h3>
      <div class="top-10">
      </div>
    </div>
  </div>

  <script src="/js/home.js"></script>
</body>