    <!-- CAROUSEL -->
    
    <h4>Most Popular</h4>
    <div class="popular-anime-carousel anime-carousel" >
    </div>

    <h4>Top Rated</h4>
    <div class="top-anime-carousel anime-carousel" >
    </div>

    <h4>Romance</h4>
    <div class="romance-anime-carousel anime-carousel" >
    </div>

    <h4>Movie</h4>
    <div class="movie-anime-carousel anime-carousel" >
    </div>

    <h4>Test</h4>

    <button id="profile">Take to Profile</button>

    <script src="./button.js"></script>