
    <table id="completed-table">
      <caption class="table caption-top">
        Completed
      </caption>
      <tr>
        <th>Img Card</th>
        <th>Title</th>
        <th>Score</th>
        <th>Progress</th>
      </tr>
      <tr>
        <td>Img Link</td>
        <td>Attack on Titan</td>
        <td>10</td>
        <td>Completed</td>
      </tr>
