
    <table id="completed-table">
      <caption class="table caption-top">
        Completed
      </caption>
      <tr>
        {{!-- <th>Img Card</th> --}}
        <th>Title</th>
        <th>Score</th>
        <th>Progress</th>
      </tr>
      {{#each statuses as |status|}}
      <tr>
        {{!-- <td>Img Link</td> --}}
        <td>{{status.anime_id}}</td>
        <td>{{status.rating}}</td>
        <td>{{status.watch_status}}</td>
      </tr>
      {{/each}}