    <!-- Login Form -->
    <link rel="stylesheet" type="text/css" href="css/login.css">
<div class="row">
  <div class="col-md-6">
    <h2 class="login-title">Login</h2>

    <form class="form login-form">
      <div class="form-group" id="email-login">
        <label for="email-login">EMAIL:</label>
        <input class="form-input" type="text" id="login-input" />
      </div>
      <div class="form-group" id="password">
        <label for="password-login">PASSWORD:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group" id="submit1">
        <button class="btn btn-primary" type="submit">LOGIN</button>
        <img class="login-message" src="./images/login-message.jpeg" alt="test image" width="200px" height="200px">
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="signup-title">Signup</h2>

    <form class="form signup-form">
      <div class="form-group" id="name">
        <label for="name-signup">NAME:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group" id="email-signup">
        <label for="email-signup">EMAIL:</label>
        <input class="form-input" type="text" id="signup-input" />
      </div>
      <div class="form-group" id="password">
        <label for="password-signup">PASSWORD:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
            <div class="form-group" id="password-confirm">
        <label class="confirm-txt" for="password-signup">CONFIRM PASSWORD:</label>
        <input class="form-input" type="password" id="confirm-password-signup" />
      </div>
      <div class="form-group" id="submit2">
        <button class="btn btn-primary" type="submit">SIGNUP</button>
         <img class="signup-message" src="./images/sign-up.jpg" alt="sign up"  width="200px" height="200px"> 
      </div>
    </form>
  </div>

</div>

  
  <img class="character-bg" src="./images/login-bg.jpeg" alt="rough sketch" width="600px" height="600px">


  {{!-- <div class="card" id="error-message">
  <img src="" alt="">
  </div>  --}}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/logout.js"></script>

<script src="./js/login.js"></script>


    {{!-- <script src="js/login.js"></script> --}}