    <!-- Login Form -->
    <link rel="stylesheet" type="text/css" href="css/login.css">
<div class="row">
  <div class="col-md-6">
    <h2 class="login-title">Login</h2>

    <form class="form login-form">
      <div class="form-group" id="email-login">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="login-input" />
      </div>
      <div class="form-group" id="password">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group" id="submit1">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="signup-title">Signup</h2>

    <form class="form signup-form">
      <div class="form-group" id="name">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group" id="email-signup">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="signup-input" />
      </div>
      <div class="form-group" id="password">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
            <div class="form-group" id="password-confirm">
        <label class="confirm-txt" for="password-signup">confirm password:</label>
        <input class="form-input" type="password" id="confirm-password-signup" />
      </div>
      <div class="form-group" id="submit2">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>

<div class="login-img">

  <div class="card" id="character-bg">
  <img  src="./images/rough-draft.jpg" alt="rough sketch" width="600px" height="600px">
  </div>

  <div class="card" id="site-logo">
  <img src="" alt="">
  </div>

  <div class="card" id="login-message">
  <img src="" alt="">
  </div>

  <div class="card" id="signup-message">
  <img src="" alt="">
  </div>

  <div class="card" id="error-message">
  <img src="" alt="">
  </div>

</div>


</div>



  






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/logout.js"></script>

<script src="./js/login.js"></script>


    {{!-- <script src="js/login.js"></script> --}}