    <!-- Login Form -->
    <div id="login-container">
    <h4>Login</h4>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-login">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>
        <a href="">Forgot Password?</a>
        <button type="submit" class="btn btn-primary forgot-password">Login</button>
      </form>
    </div>

        <!-- Signup Form -->
    <div id="login-container">
    <h4>Sign Up</h4>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputUser1" class="form-label">Username</label>
            <input type="username" class="form-control" id="username-signup">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-signup">
        </div>
        <div class="mb-3">
            <label for="confirmInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password-signup">
          </div>
        <div class="mb-3 form-check">
        <button type="submit" class="btn btn-primary forgot-password">Sign Up</button>
      </form>
    </div>

    <script src="js/login.js"></script>