 .anime-search-form{
height: 0;
}

#search-form-div {
  margin-bottom: 5%;
}

#browse-form{
    border: none;
    background-image: none;
}

label {
  height: 0;
  color: white;
  font-size: 18;
  padding-left: 7px;
}

.browse-body{
    background-color: #333333;
}

.anime-div {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  justify-content: left;
  margin: auto;
  padding-left: 5px;
}

img {
  padding-left: 10px;
}

li {
  color: white;
  font-size: 16;
}

p {
  color: white;
  font-size: 18;
  padding-left: 8px;
}

.img-container {
  display: flex;
  position: relative;
}

 .info-ul{
    list-style-image: url('/images/sharingan.jpg');
}

.edit-container {
  display: block;
  position: sticky;
}

.anime-container{
    max-width: 50%;
} 





@media screen and (max-width: 767px) {
  /* Adjust styles for smaller screens here */
  h2 {
   text-align: left;
    padding-top: 60px;
  }

  img {
    padding-left: 0;
  }

  .anime-container {
    max-width: 100%; /* Make it full width on smaller screens */
  }

  .form-group{
    border: none;
    background-image: none;
  }

  .edit-container {
    left: 50%;
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  /* Adjust styles for mid-sized screens here */
  h2 {
    padding-top: 15px;
    padding-left: 0;
  }

  img {
    padding-left: 0;
  }

  .anime-container {
    max-width: 100%; /* Make it full width on smaller screens */
  }

  .edit-container {
    left: 50%;
  }
  label{
    padding-bottom: 40px;
}
}

@media screen and (max-width: 480px) {
    /* Adjust styles for smaller screens here */
    .navbar{
        width: 100%;
    }
    h2 {
      padding-left: 0;
      padding-top: 30px;
    }
  
    img {
      padding-left: 0;
    }
  
    .anime-container {
      max-width: 100%; /* Make it full width on smaller screens */
    }

    label{
        padding-bottom: 60px;
    }
  
    .edit-container {
       left: 50%;
       padding: 10px;
      }

      .watch-status,
      .ratings {
        width: 100%; /* Make the items full width within .edit-container */
        box-sizing: border-box; /* Include padding and border in the width */
        padding-top: 10px; /* Add margin between the items */
        padding-bottom: 10px;
        display: flex;
      } 
  }