form{
height: 0;
}

.form-group{
    border: none;
    background-image: none;
}

label{
    height: 0;
    color: white;
    font-size: 18;
    padding-left: 7px;
}

body{
    background-color: #333333;
}

h2{
    justify-content: left;
    margin: auto;
    padding-left: 5px;
}

img{
    padding-left: 10px;
}

li{
    color: white;
    font-size: 16;
}

p{
    color: white;
    font-size: 18;
    padding-left: 8px;
}

@media (max-width: 768px) {
    /* Styles for screens with a width of 768 pixels or less */
    h2 {
      font-size: 1.5em;
    }
  
  }