.anime-search-form {
  height: 0;
}

#search-form-div {
  margin-top: 1rem;
  margin-bottom: 5%;
}

#browse-form {
  border: none;
  background-image: none;
}

.anime-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.anime-item {
  width: 10%;
  margin: 1rem 5rem;
}

.anime-image-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
}

.anime-image-container img {
  width: 80%;
  height: auto;
}

.anime-caption {
  position: relative;
  left: 4px;
  text-align: center;
  width: 150px;
  height: 210px;
}

.anime-caption h5 {
  font-size: 1rem;
  color: grey;
  font-weight: 1000;
}

/* Anilog  */
.filters {
  display: flex;
  justify-content: space-around;
}

.title-container {
  position: relative;
  left: 4px;
  text-align: center;
}

.title-container h5 {
  font-size: 1.8rem;
  color: grey;
  font-weight: 1000;
}

@media screen and (max-width: 767px) {
  /* Adjust styles for smaller screens here */
  h2 {
    text-align: left;
    padding-top: 60px;
  }

  img {
    padding-left: 0;
  }

  .anime-container {
    max-width: 100%; /* Make it full width on smaller screens */
  }

  .form-group {
    border: none;
    background-image: none;
  }

  .edit-container {
    left: 50%;
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  /* Adjust styles for mid-sized screens here */
  h2 {
    padding-top: 15px;
    padding-left: 0;
  }

  img {
    padding-left: 0;
  }

  .anime-container {
    max-width: 100%; /* Make it full width on smaller screens */
  }

  .edit-container {
    left: 50%;
  }
  label {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for smaller screens here */
  .navbar {
    width: 100%;
  }
  h2 {
    padding-left: 0;
    padding-top: 30px;
  }

  img {
    padding-left: 0;
  }

  .anime-container {
    max-width: 100%; /* Make it full width on smaller screens */
  }

  label {
    padding-bottom: 60px;
  }

  .edit-container {
    left: 50%;
    padding: 10px;
  }

  .watch-status,
  .ratings {
    width: 100%; /* Make the items full width within .edit-container */
    box-sizing: border-box; /* Include padding and border in the width */
    padding-top: 10px; /* Add margin between the items */
    padding-bottom: 10px;
    display: flex;
  }
}
