/* IMAGE SLIDER CSS */
.hero {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.slide img {
  height: 100%;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.content {
  position: absolute;
  top: 23rem;
  opacity: 0;
  color: white;
  padding: 3rem;
  transform: translateX(3rem);
  backdrop-filter: blur(5px);
  font-weight: bolder;
}

.current .content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.buttons button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
}

.buttons button:hover {
  background-color: white;
  color: #777;
}

.next {
  top: 30%;
  right: 1.5rem;
}

.prev {
  top: 30%;
  left: 1.5rem;
}

.main {
  display: flex;
}

.card {
  background-color: #f4eeff;
  width: 75%;
}

.anime-carousel {
  display: flex;
  justify-content: space-evenly;
  padding-left: 4rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.card-title {
  font-family: Helvetica Neue;
  font-size: 24px;
  color: grey;
}

button {
  -webkit-text-stroke-color: red;
}

.anime-item {
  width: 10%;
}

.anime-image-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
}

.anime-image-container img {
  width: 80%;
  height: auto;
}

.anime-caption {
  position: relative;
  left: 4px;
  text-align: center;
  width: 150px;
  height: 210px;
}

.anime-caption h5 {
  font-size: 1.8rem;
  color: grey;
  font-weight: 1000;
}

.hide-button {
  display: none;
  position: absolute;
  top: 81%;
}

.anime-img:hover + .hide-button {
  display: block;
}

.hide-button:hover {
  display: block;
}

.container-fluid {
  display: flex;
  align-items: center;
}

.top-10 {
  display: flex;
  width: 45%;
  height: 1000px;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-anime-div {
  display: flex;
  height: 160px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.top-10-img {
  max-width: 110px;
  max-height: 160px;
}

.top-anime-div p {
  font-size: 1rem;
}

@container top-anime-div (height: 160px) {
  .top-anime-div p {
    font-size: 0.1rem;
  }
}

.ranking {
  font-size: large;
  margin-right: 0.5rem;
  color: red;
}

.anime-info {
  margin-top: -0.3rem;
  margin-left: 0.4rem;
}

#rank-10 {
  margin-left: -0.5rem;
}

/* AniLog */

@media screen and (max-width: 480px) {
  .anime-carousel {
    width: 100%;
    border: rgb(194, 3, 3) 3px double;
    border-radius: 3px;
    background-color: #333333;
    color: navajowhite;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .anime-item {
    width: 100%; /* Adjust as needed for your layout */
    box-sizing: border-box;
    padding: 0.5rem;
  }

  .anime-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflowing content */
  }

  #logout {
    right: 2%;
    bottom: 0.9rem;
  }

  .hide-button {
    top: 81%;
  }

  #h3-username {
    right: 6%;
  }

  h5 {
    font-size: x-small;
  }
}
