.navbar {
  background-color: #424874;
}

body {
  background-color: #f4eeff;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #424874;
}
